<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<table border=0 cellspacing=0 cellpadding=6>
    <tr>
        <td valign=top>
            <img src="icon.png">
        <td valign=top>
            <h2>Agent-based simulation tool for the evaluation of traffic light configurations in road networks</h2>
            <p>By Dayan Bravo</p>
            <p>By Mailyn Moreno</p>
</table>

<p>A poor traffic planning can bring with it countless negative effects such as collapse, traffic jams and accidents. To
    avoid this situation it is useful, before applying transit´s configurations, to know the impact they will bring. In
    this way you can assess, with more confidence, if the configuration will be functional or not. Currently, process
    simulation is a solution to obtain such information. In dependency of the type of simulation, the results will be
    more or less close to reality. The agents-based simulation provides benefit in terms of simulations of road
    networks.</p>
<p>This paper describes the process of developing an agent-based simulation tool that contributes to the process of
    configuring traffic controllers. The development of this tool is based on previous technologies and experiences in
    order to achieve a result adjusted to the real needs and capabilities. The result is a GIS tool for agent-based
    simulation using the MASON framework.</p>
<p>With the development of this tool, analysts and traffic engineers have a tool that provides them with information
    that helps them analyze and make decisions regarding the problems related to the configuration of traffic
    controllers.</p>
<hr>
<font color='red'>Keywords:</font> Agent-based simulation, GIS, Intelligent agents, Semaphore, Traffic light.

</body>
</html>